<div class="container">
  <div class="row">
       <div class="col-xs-12  col-md-10  col-sm-8">
        <form (ngSubmit)="onSignup(f)" #f="ngForm">
          <div class="form-group">  
            <label> Email: </label>
            <input type="email" id="username" name="username" required ngModel email class="form-control" #email99="ngModel"> 
            <span class="help-block" *ngIf="email99.invalid && email99.touched"> Please enter a valid value</span>
          </div>
          <div class="form-group">  
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required ngModel class="form-control"> 
          </div>
              <div class="form-group">
                  <label for="secret">Secret Questions</label>
                  <select 
                  id="secret" 
                  class="form-control" 
                  [ngModel]="defaultQuestion" required
                  name="secret"> <!-- 1 way binded with variable in ts file, but value going forward here is 'secret' -->
                    <option value="Movie">Your Favorite Movie?</option>
                    <option value="Job">In what town was your first job?</option>
                  </select>
                </div>
                <div class="form-group"> 
                    <textarea
                       name="QuestionAnswer"
                       rows="3"
                       class="form-control"
                       [(ngModel)]="answer" required placeholder="answer to secret questin"></textarea> <!-- if you are using 2way binding it will display dynamically at same point as you type, but if it is 1way binding like- [ngModel] it will display only after submit not dynamically. both shows same o/p -->
                    </div>
          
        
                  <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Register</button>
          

        <!-- check if button is pressed -send msg as Thank you for registering - Please login -->
          <ng-template [ngIf]='clicked'>
            <p>Thank you for Registering</p>
          </ng-template>
        </form>
       </div>
  </div>
</div>